<config>
  <log_level>DEBUG</log_level>
  <layout_path>layouts/default.xml</layout_path>
  <rider_weight>80.4</rider_weight>
  <rider_weight_units>kg</rider_weight_units>
  <altitude_home>89.0</altitude_home>
  <altitude_home_units>m</altitude_home_units>
  <odometer>62620.6468854</odometer>
  <odometer_units>km</odometer_units>
  <ride_time_total>1818.56699491</ride_time_total>
  <speed_max>23.109</speed_max>
</config>
