<config>
  <layout_path>layouts/lcd_white.xml</layout_path>
  <rider_weight>80.4</rider_weight>
  <rider_weight_units>kg</rider_weight_units>
  <altitude_at_home>89.0</altitude_at_home>
  <altitude_at_home_units>m</altitude_at_home_units>
  <odometer>1400000.0</odometer>
  <odometer_units>km</odometer_units>
</config>
